@import url("colors_fonts.css");
@import url("background.css");

html {
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

* {
	font-family: var(--poppins);
}

body {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239a9a9a' fill-opacity='0.34'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: var(--red-dark);
	border-radius: 20px;
}

/* Barra de navegación */

.nav-bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	/* left: 0px;
    top: 0px; */
	background: var(--gray-dark);
	align-items: center;
	color: var(--champagne-pink);
}

.nav-bar .logo {
	margin-left: 2em;
	width: 200px;
}

.nav-bar ul {
	display: flex;
	justify-content: space-between;
	font-weight: 600;
}

.nav-bar li {
	color: var(--champagne-pink);
	list-style: none;
	margin: auto;
	padding: 1em;
}

.nav-bar a {
	color: var(--champagne-pink);
	text-decoration: none;
}

.nav-bar a:hover {
	border-bottom: 2px #fff solid;
	filter: drop-shadow();
}

.menu-btn {
	position: absolute;
	cursor: pointer;
	top: 30px;
	right: 30px;
	color: #fff;
	font-size: 2em;
	z-index: 20;
	display: none;
}

.welcome-slide {
	background-image: url("../img/background.jpg");
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.welcome-slide__h3,
.welcome-slide__h1 {
	filter: drop-shadow(0 0 1px #000) drop-shadow(1px 1px 0 #000) drop-shadow(-1px 1px 0 #000)
		drop-shadow(1px -1px 0 #000) drop-shadow(-1px -1px 0 #000);
	color: var(--champagne-pink);
}

.welcome-slide__h1 {
	margin: 0 0 1em 0;
	font-size: 4em;
}

.welcome-slide__h3 {
	margin: 0 0 1em 0;
	font-size: 3em;
}

.welcome-button {
	background: var(--red-dark);
	filter: drop-shadow(1px 1px 5px #040507);
	border: none;
	outline: none;
	border-radius: 6px;
	padding: 4px 8px;
}

.welcome-button a {
	text-decoration: none;
	font-size: 1.5em;
	color: #fff;
	font-weight: bold;
}

.nosotros {
	margin: 2em;
}

.nosotros-container {
	display: flex;
	color: var(--champagne-pink);
}

.nosotros-item h2 {
	padding-bottom: 20px;
}

.nosotros-item__img {
	width: 400px;
}

.nosotros-item__img img {
	border-radius: 1.5em;
	margin-top: 1.5em;
}

.nosotros-item {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.contacto {
	margin: 2em;
	height: 600px;
	border-radius: 1em;
}

.contacto-container {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-around;
}

.contacto-container h2 {
	color: var(--gray-dark);
}

.contacto-form {
	background: #ccc;
	color: var(--gray-dark);
	padding: 2em;
	border: 2px dashed;
	border-radius: 1em;
}

.contacto-form p {
	margin-top: 15px;
}

.contacto-form input {
	height: 2em;
	border-radius: 4px;
	border: 1px solid var(--gray-dark);
}

.contacto-form input,
.contacto-form textarea {
	width: 400px;
	resize: none;
}

.contacto-form input[type="submit"] {
	background: var(--red-dark);
}

.contacto-form textarea {
	height: 180px;
}

.contacto__img img {
	height: 500px;
	border-radius: 2em;
}

/* ------------------------------------------------------------- */
/* Login y registro */
/* ------------------------------------------------------------- */

.login_container,
.registro-container {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.login_container .login,
.registro-container .registro {
	background: var(--gray-dark);
	filter: drop-shadow(5px 5px 50px #711e1e);
	color: var(--champagne-pink);
	border-radius: 2em;
	padding: 3em 2em;
	text-align: center;
}

.login_container .login h2 {
	margin-bottom: 2em;
}

.login_container .login input,
.login_container .login select,
.registro-container .registro input {
	width: 300px;
	height: 2.3em;
	border-radius: 5px;
	border: 1px solid black;
	font-weight: 600;
}

.login_container .login input[type="submit"]:hover,
.registro-container .registro input[type="submit"]:hover {
	transition: transform 0.7s;
	transform: scale(1.1);
}

.login_container .login input[type="submit"],
.registro-container .registro input[type="submit"] {
	background: var(--red-dark);
	font-weight: bold;
	border: none;
	margin: 2em 0;
	color: rgb(229, 151, 151);
}

.login_container .login .register a,
.login_container .login .return a,
.registro-container .registro a {
	text-decoration: none;
	color: var(--champagne-pink);
}

.login_container .login form,
.registro-container .registro form {
	text-align: start;
}

.success {
	background: rgb(4, 230, 31);
	padding: 1em 1.5em;
	border-radius: 0.5em;
}

.error {
	background: rgb(231, 15, 15);
	padding: 1em 1.5em;
	border-radius: 0.5em;
}

/* ------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------- */

.footer {
	background: var(--gray-dark);
	display: flex;
	justify-content: center;
}

.footer p {
	padding: 20px;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}

/* ------------------------------------------------------------- */
/* Main */
/* ------------------------------------------------------------- */

.main-header {
	height: 100px;
	background: var(--gray-dark);
	display: flex;
	justify-content: center;
}

.main-header-content {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--champagne-pink);
}

.main-header-content .icon {
	width: 200px;
}

.main-nav-bar {
	display: flex;
	justify-content: center;
}

#sidebarIcon {
	position: absolute;
	left: 1.5em;
	top: 1.5em;
	font-size: 1.5em;
	display: none;
}

.main-nav-bar a {
	text-decoration: none;
	color: var(--champagne-pink);
	margin: 0 1em;
	transition: padding cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.75s;
}

.main-nav-bar a:hover {
	border-bottom: 2px solid var(--champagne-pink);
	transform: scale(1.1);
}

.main-title {
	color: var(--champagne-pink);
	text-align: center;
	margin: 2em auto;
}

.add-icon {
	font-size: 2.5em;
	position: absolute;
	left: 14%;
	align-items: center;
	cursor: pointer;
}

/* ------------------------------------------------------------- */
/* Reservas */
/* ------------------------------------------------------------- */

.main-content h1 {
	color: var(--champagne-pink);
	text-align: center;
}

.form_container {
	background: var(--gray-dark);
	border-radius: 1em;
	width: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.5em 1em;
	color: var(--champagne-pink);
}

.form_container form h4 {
	font-size: 1.5em;
	margin-bottom: 1em;
	text-align: center;
}

#form_register input,
#form_register select,
#form_edit input,
#form_edit select {
	width: 300px;
	height: 2em;
	border: none;
	border-radius: 5px;
}

#form_register #registrar,
#form_edit #modificar {
	margin-top: 1em;
	background: var(--red-dark);
}

/* Modals reservas */

.pop-up {
	background: rgba(48, 48, 48, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.pop-up-wrap {
	transform: scale(0.6);
	opacity: 0;
	background: var(--gray-dark);
	transition: 0.3s ease all;
	padding: 20px 20px;
	position: relative;
	border-radius: 1.5em;
	box-shadow: -8px 9px 48px 9px rgba(0, 0, 0, 0.69);
}

.closePopup {
	color: var(--red-dark);
	font-size: 1.5em;
	padding: 1px 4px;
}

.pop-up.show {
	visibility: visible;
}

.pop-up-wrap.show {
	transform: scale(1);
	opacity: 1;
}

/* ------------------------------------------------------------- */
/* Reservas */
/* ------------------------------------------------------------- */

#form_add_movie input,
#form_add_movie select,
#form_edit_movie input,
#form_edit_movie select {
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 0.2em;
}

#form_add_movie input[type="button"],
#form_edit_movie input[type="button"] {
	margin: 0.8em auto;
	background: var(--red-dark);
	color: var(--champagne-pink);
}

form#reporte_reserva .form-title {
	text-align: center;
	font-size: 1.2em;
	margin: 1em 0;
	color: var(--champagne-pink);
}

form#reporte_reserva label{
	color: var(--champagne-pink);
}

form#reporte_reserva input {
	width: 280px;
	height: 2em;
	border-radius: 0.5em;
	border: none;
}

form#reporte_reserva input[type="button"] {
	margin-top: 1em;
	background: var(--red-dark);
	cursor: pointer;
}

/* ------------------------------------------------------------- */
/* Cursor */
/* ------------------------------------------------------------- */

.submenu {
	display: flex;
	justify-content: end;
	flex-direction: column;
	width: 200px;
	position: absolute;
	right: 100px;
	top: 60px;
	background: var(--gray-dark);
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
	padding: 1rem;
}

.submenu li {
	width: 200px;
}

.submenu li {
	display: inline;
	color: #fff;
	text-decoration: none;
}

.main-nav-bar:hover .submenu {
	visibility: visible;
	opacity: 1;
}

.cursor {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 3px solid rgb(214, 75, 11);
	pointer-events: none;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	background: linear-gradient(to bottom, transparent, rgb(238, 19, 19));
	box-shadow: 0, 0, 20px rgb(238, 19, 19), 0, 0, 30px rgb(238, 19, 19), 0, 0, 50px rgb(238, 19, 19);
	animation: coolors 5s linear infinite;
}

@keyframes coolors {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

/* ----------------------------- */
/* Rsponsive Design */
/* ----------------------------- */

@media screen and (max-width: 1366px) {
	.nosotros-container {
		display: flex;
		flex-direction: column;
	}

	.nosotros-item {
		padding: 0;
	}

	.contacto__img img {
		width: fit-content;
		height: auto;
		display: block;
	}

	.login_container,
	.registro-container {
		height: auto;
		margin-top: 4em;
	}

	.main-content .datatable-container {
		overflow-x: scroll;
	}

	.datatable-container .footer-tools .pages{
		margin: 0 !important;
		width: 100% !important;
	}

	.datatable-container .footer-tools .pages ul{
		justify-content: start !important;
	}

	.main-content section .container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: auto;
	}
}

@media screen and (max-width: 1000px) {
	.contacto__img img {
		display: none;
	}

	.main-header {
		height: 90px;
	}

	.main-header {
		height: 90px;
	}

	.main-header-content {
		flex-direction: column;
	}

	.main-header-content .main-nav-bar {
		flex-direction: column;
		position: absolute;
		background: rgba(48, 48, 48, 0.85);
		padding: 1em;
		top: 90px;
		left: 0;
		z-index: 1000;
		transform: translateX(-300px);
		transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	.main-nav-bar.show {
		transform: translateX(0px);
	}

	.main-header-content .main-nav-bar a {
		padding-bottom: 1em;
	}

	#sidebarIcon {
		display: block;
		cursor: pointer;
	}

	.main-title .add-icon {
		font-size: 1.5em;
		left: 8%;
	}

	.main-title h1 {
		font-size: 1.5em;
	}

	.main-content section .container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 500px) {
	.nav-bar {
		display: flex;
		flex-direction: column;
		text-align: center;
		height: auto;
	}

	.nav-bar .logo {
		display: flex;
		align-items: flex-start;
	}

	.nav-bar ul {
		display: flex;
		flex-direction: column;
		margin: 0.1em 0;
	}

	.welcome-slide__h1 {
		font-size: 2em;
	}

	.nosotros-item p {
		text-align: center;
	}

	.nosotros-item__img {
		width: 300px;
	}

	.contacto-form {
		width: 320px;
		padding: 1em;
	}

	.contacto__img {
		display: none;
	}

	.contacto-form input,
	.contacto-form textarea {
		width: 280px;
	}

	.footer {
		text-align: center;
	}

	.main-content section .container {
		grid-template-columns: 1fr;
	}
}
